body{
	margin: 0;
}

html,body {
	margin: 0;
	padding: 0;
}
.slider {
	width: 1024px;
	margin: 0 0 19em 0;

}

.slider-wrapper {
	width: 100vw;
	height: 400px;

}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}


.icon{
	font-size: 170%;
	margin: 2% 2% 1% 2%;
}

nav{
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 10;
}

.img{
	width: 100vw;
	height: 90vh;
	margin: 0;
}

.text-over{
	text-align: center;
	font-family: sans-serif;
	letter-spacing: 3px;
	color: white;
	font-size: 500%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-40%);
}

.para-over{
	width: 30vw;
	text-align: center;
	font-family: sans-serif;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,300%);
}

.wrapper{
	width: 25%;
	display: flex;
	justify-content: space-between;
	margin: 2% 5% 1% 0;
}
.button{
	background-color: #9EDE73;
	border: none;
	border-radius: 5px;
	padding: 0.2% 2%;
	margin-top: 1%;
	color: white;
	font-weight: bold;
	transition: background-color 0.1s ease-in;
}
.button:hover{
	border: 1px solid  #9EDE73;
	background-color: rgb(255,255,255);
	color:  #9EDE73;
}
.link a{
	color: black;
	text-decoration: none;
	cursor: pointer;
	font-size: 93%;

}
.link a:hover{
color:  #9EDE73;
}
.grid-wrapper{
	margin-top: 0;
	display: grid;
	grid-template-columns: auto auto auto auto;
}
.steps{
	height: 70vh;
	width: 25vw;
	background-color: #0CECDD;
}
.steps1{
	height: 70vh;
	width: 25vw;
	background-color: #83A95C;
}
.steps2{
	height: 70vh;
	width: 25vw;
	background-color: #FFAA4C;
}
.steps3{
	height: 70vh;
	width: 25vw;
	background-color: #FE7171;
}
.step-icon{
	margin: 40% 0 0 42%;
	font-size: 70px;
	color: white;
}
.steps-wrapper:hover{
	animation: icons 0.3s forwards;
	cursor: pointer;
}
@keyframes icons{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.2);
	}
}
.h1{
	color: white;
	padding-top: 3%;
	font-family: sans-serif;
	text-align: center;
}
.para{
	color: white;
	width: 80%;
}
.para1{
	color: black;
	width: 80%;
}
.bg{
	background-color: #FDEFEF;
	padding-bottom: 10%;
}
.h2{
	font-family: 'MonteCarlo', cursive;
	color: gold;
	font-size: 32px;
	padding-top: 5%;
	margin: 0;
}
.color{
	background-color: #FFD371;
	padding: 30% 15% 20%;
	border-radius: 100%;
}
.grid-wrapper1{
	padding-top: 5%;
	margin-left: auto;
	width: 80vw;
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;

}
.title{
	font-family: sans-serif;
	font-size: 120%;
	font-weight: 600;
	margin-top: 40%;
}
.item{
	width:100%;
	heigth:100%;
}
.item:hover{
	animation: icons 0.3s forwards;
	cursor: pointer;
}
.next{
	background-image: url('A:/project/images/l-intro-1627405352.jpg');
	width: 31.5vw;
	height: 75.2vh;
	position: absolute;
	left: 63.2%;
	font-family: sans-serif;
	padding-top: 7%;
	padding-left: 7%;
}
.img1{
	height: 90vh;
	width: 65vw;
}

.para-next{
	font-family: sans-serif;
	font-size: 90%;
	color: grey;
	width: 20vw;
	line-height: 1.5;
	padding-bottom: 7%;
}
.input{
	font-family: sans-serif;
	border: none;
	border-radius: 1px;
	width: 50%;
	padding: 2% 1%;
	margin-bottom: 5%;
}
.subscribe{
	display: block;
	border: 2px solid lightpink;
	border-radius: 2px;
	padding: 2% 6%;
	color: lightpink;
	font-family: sans-serif;
	font-weight: 600;
	background-color: rgba(255,255,255,0);
	margin-bottom: 30.5%;
}
.subscribe:hover{
	background-color: lightpink;
	color: white;
}
.bg1{
	padding-bottom: 10%;
}

.grid-wrapper2{
	padding-top: 5%;
	width: 60vw;
	display: grid;
	grid-template-columns: auto auto auto;

}

.item1{
	padding-top: 25%;
	background-color: rgba(224,224,224,0.6);
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-right:5%;
}

.item1:hover{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title1{
	font-family: sans-serif;
	font-size: 80%;
	padding: 0 5%;
	line-height: 1.5;
	margin-top: 15%;
}
.container{
	display: grid;
	grid-template-columns: auto auto;
	margin-left: 15%;
}
input{
	font-size: 16px;
	border-radius: 5px;
	border:0.5px solid #E0E0E0;
	margin-top:2%;
	height:32px;
	width:70%;
	padding:2%;
}
